<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\logs\crm\temp\internal-nlog.txt">-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- 本地文件日志target -->
  <targets>
    <!--nlog-all 记录了所有日志-->
    <!--<target xsi:type="File" name="allfile" fileName="c:\logs\crm\nlogAll\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

    <!--记录全局异常的日志-->
    <target  xsi:type="File" async="true" name="globalExceptionLog" fileName="c:\logs\crm\nlogOwn\webApi\exceptions\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url} | action: ${aspnet-mvc-action}|${message} ${exception:format=tostring}" />

    <!--记录全局Action的参数日志-->
    <target xsi:type="File" async="true" name="globalRequestParamsLog" fileName="c:\logs\crm\nlogOwn\webApi\requestParams\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url} | action: ${aspnet-mvc-action}${newline}${message} ${exception:format=tostring}" />

    <!--记录代码中自定义的日志-->
    <target xsi:type="File" async="true" name="customLog" fileName="c:\logs\crm\nlogOwn\webApi\custom\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url} | action: ${aspnet-mvc-action}${newline}${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--自定义日志，排除Microsoft日志-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />

    <!--Error,Fatal  记录全局异常日志-->
    <logger name="*" levels="Error,Fatal" writeTo="globalExceptionLog" />

    <!--Info,Warn  记录全局Action请求参数日志-->
    <logger name="*" levels="Info,Warn" writeTo="globalRequestParamsLog" />

    <!--Trace,Debug  记录代码中自定义的日志-->
    <logger name="*" levels="Trace,Debug" writeTo="customLog" />
  </rules>
</nlog>